.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
}
.freeBox__b8G0I {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: linear-gradient(#fff1e5bf, #fff1e5bf),
    url("https://images.squarespace-cdn.com/content/v1/5ca28b6c34c4e276b1e6efdc/1567338274582-V6V9R741A6IIIJREYX4K/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/image-asset.jpeg?format=2500w")
      left 50% top 50% / cover repeat;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__b8G0I {
    width: 100%;
    min-width: 0;
  }
}
.freeBox___6J8Qe {
  flex-direction: row;
  background: #ffffff40;
  display: flex;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  right: 0;
  min-width: 0;
  padding: 16px 16px 0px;
}
.freeBox___6J8Qe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___6J8Qe > :global(.__wab_flex-container) > *,
.freeBox___6J8Qe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6J8Qe > :global(.__wab_flex-container) > picture > img,
.freeBox___6J8Qe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .freeBox___6J8Qe {
    padding: 32px;
  }
}
.freeBox___2HyH0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox___2HyH0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2HyH0 > :global(.__wab_flex-container) > *,
.freeBox___2HyH0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2HyH0 > :global(.__wab_flex-container) > picture > img,
.freeBox___2HyH0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 640px) {
  .freeBox___2HyH0 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox___2HyH0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 640px) {
  .freeBox___2HyH0 > :global(.__wab_flex-container) > *,
  .freeBox___2HyH0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2HyH0 > :global(.__wab_flex-container) > picture > img,
  .freeBox___2HyH0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: 160px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___6Q6I8 {
  position: relative;
  height: 73px;
  max-width: 1000px;
  font-size: 50px;
  font-family: "Magra", sans-serif;
  text-decoration-line: none;
  box-shadow: none;
  font-weight: 600;
  padding-right: 0px;
  margin-right: 0px;
  width: 445px;
  padding-left: 0px;
  flex-shrink: 0;
}
.button__h0U4T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__u48Zp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___529KH {
  font-family: "Magra", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__wviOk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__pV84L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__eKu5A {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__whKrH {
  font-family: "Magra", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__urzyn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___8DPJg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__j93Ql {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button___7CFye:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  left: auto;
  top: auto;
  height: 50px;
}
.svg__hTwun {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__exOet {
  font-family: "Magra", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___6JTUr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__hwUpy {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 64px 32px 0px;
}
.freeBox__ipsIj {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1080px;
  width: 100%;
  min-width: 0;
}
.freeBox__ipsIj > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__ipsIj > :global(.__wab_flex-container) > *,
.freeBox__ipsIj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ipsIj > :global(.__wab_flex-container) > picture > img,
.freeBox__ipsIj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (max-width: 640px) {
  .freeBox__ipsIj {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox__ipsIj > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (max-width: 640px) {
  .freeBox__ipsIj > :global(.__wab_flex-container) > *,
  .freeBox__ipsIj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ipsIj > :global(.__wab_flex-container) > picture > img,
  .freeBox__ipsIj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__aR4Wi {
  display: flex;
  position: relative;
  height: 400px;
  padding-top: 0px;
  opacity: 0;
}
.freeBox___7XA0I {
  flex-direction: column;
  display: flex;
  width: 100%;
  position: relative;
  left: auto;
  top: auto;
  height: 776px;
  min-width: 0;
}
.freeBox___7XA0I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___7XA0I > :global(.__wab_flex-container) > *,
.freeBox___7XA0I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7XA0I > :global(.__wab_flex-container) > picture > img,
.freeBox___7XA0I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text__of1Ux {
  font-size: 60px;
  line-height: 1;
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000d9;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__xEpNd {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  font-family: "Magra", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__t89Jf {
  flex-direction: row;
  display: flex;
  position: absolute;
  left: 1px;
  top: 474px;
}
.freeBox__t89Jf > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__t89Jf > :global(.__wab_flex-container) > *,
.freeBox__t89Jf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t89Jf > :global(.__wab_flex-container) > picture > img,
.freeBox__t89Jf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__tHyln:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kmGb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__trKkR {
  font-family: "Magra", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___3ADj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__zb5Zp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__gzrv1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___1San {
  height: auto;
  font-weight: 400;
  font-family: "Magra", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__grjyT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
